body{
    background-color: rgb(121, 121, 121);
    font-family: Arial, Helvetica, sans;
    color: rgb(0, 0, 0);
  
}
.flight{
    background-color: rgb(99, 139, 138);
    height:350px;
    width: 650px;
    border-bottom: 10%;
}
.top{
    display:flex;
    flex-direction: row;
}
.steps{
    display: flex;
    flex-direction: row;
}
#ca{
    color: rgb(224, 255, 47);
}
#me{
    color: rgb(4, 54, 146);

}
#par{
    opacity: 0.5;
}
.Mid{
    display:flex;
    flex-direction:row;   
    justify-content: left;
}
.izq{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.der{
    display: flex;
    flex-direction: row;

}
.eat{
display: flex;
flex-direction: column;
margin-right: 10px;

}
.drink{
display: flex;
flex-direction: column;
margin-right: 10px;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#bb{
    background-color: cornflowerblue;
    margin-right: 10px;
}



